<div class="blog">
  <div class="item">
    <div class="topic-row">
      <div class="topic">
        <span>{{post.topic}}</span>
        <span class="posted-by">Posted by {{post.username}} on {{dateFormat post.timestamp}}</span>
      </div>
    </div>
    <div class="blog-text">
      {{post.content}}
    </div>
    <div class="display-button-section">
      <div class="button-section display-post">
          <button id='edit-post' class="submit-post" data-key="{{post.id}}">Edit Post</button>
      </div>
      <div class="button-section display-post">
          <button id='delete-post' class="submit-post" data-key="{{post.id}}">Delete Post</button>
      </div>
    </div>  
  </div>     
</div>
