<div class="blog">
  <div class="item">
    <div class="topic-row">
      <div class="topic">
        <span>{{comment.topic}}</span>
        <span class="posted-by">Posted by  {{comment.username}} on {{dateFormat comment.timestamp}}</span>
      </div>
    </div>
    <div class="blog-text">
      {{comment.blog_content}}
    </div>
    {{#each comment.list }}
    <div class="comment">
      <div class="topic-row">
        <div class="topic">
          <span class="posted-by">Comment by {{username}} on {{dateFormat timestamp}}</span>
        </div>
      </div>
      <div class="blog-text comment-text">
       {{content}}
      </div>
    </div>
      {{/each}}
      {{#if comment.logged_in}}  
      <form>
          <div class="post-form">            
              <div class="form-group">
                  <label for="content" class="your-comment">Your comment</label>
                  <textarea class="form-control" id="content" rows="3"></textarea>
              </div>
              <div class="button-section comment-section">
                  <button id='submit-comment' class="submit-post submit-comment" data-key="{{comment.id}}">Post Comment</button>
              </div>
          </div>          
      </form>
    {{/if}}  
  </div>     
</div>
