<div class="blog">
  {{#each list }}
  <div class="item">
    <div class="topic-row">
      <div class="topic">
        <span class="list-item"><span class="topic-item" id="{{id}}">{{topic}}</span><span class="comment-count">Comments</span></span>
        <span class="posted-by">Posted by {{username}} on {{dateFormat timestamp}}</span>
      </div>
    </div>
    <div class="blog-text">
     {{content}}
    </div>
  </div>
  {{/each}}
</div>